.page-wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #ffecd2, #fcb69f);
  font-family: "Poppins", sans-serif;
}

.payment-card,
.gateway-card,
.success-card,
.failure-card {
  background: white;
  width: 360px;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  text-align: center;
}

.title {
  font-size: 26px;
  margin-bottom: 5px;
}

.subtitle {
  color: #777;
  margin-bottom: 20px;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.option {
  padding: 14px;
  border-radius: 10px;
  border: 1px solid #ddd;
  cursor: pointer;
  transition: all 0.3s ease;
}

.option:hover {
  background: #f5f5f5;
}

.option.active {
  background: #ff7a18;
  color: white;
  border: none;
}

.confirm-btn,
.pay-btn {
  margin-top: 25px;
  width: 100%;
  padding: 14px;
  font-size: 16px;
  background: linear-gradient(135deg, #ff512f, #dd2476);
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

.amount-box {
  margin: 20px 0;
  padding: 15px;
  border-radius: 12px;
  background: #f7f7f7;
}

.amount-box h2 {
  margin: 5px 0;
  color: #ff512f;
}

.cancel-btn {
  margin-top: 15px;
  background: none;
  border: none;
  color: red;
  cursor: pointer;
}